.app-name {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 30px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(109,158,235,1) ;
}

.my-btn-sign-in .x-btn-inner{
	font-weight: bold;
}

.no-icon {
  display : none;
  background-image:url('../icons/s.gif') !important;
  }

/** message box */
.msg .x-box-mc {
    font-size:14px;    
}
#msg-div {
    position:absolute;
    left:38%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    /*border-radius: 8px;
    -moz-border-radius: 8px;
    //background: #d4eeca;
    // background: #5fa2dd 157fcc; triton;*/
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #3f505f;
    border: 3px solid #fff;
    margin-top: 2px;
    padding: 10px 15px;
    color: #fff;
    
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

/** trigger **/

.x-form-trigger.fa {
    display:table-cell;
    background-image:none !important;
    padding-top:5px;
}

.fa-trigger {
    background-image: none !important;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 12px;
}
/** coloring grid row **/
.green-line .x-grid-cell{
  background-color: #e2ffe2 !important;
}

.red-line .x-grid-cell{
  background-color: #ffe2e2 !important;
}

.grey-line .x-grid-cell{
  background-color: #cccccc !important;
}

.yellow-line .x-grid-cell{
  background-color: #ffff99 !important;  
}
/** coloring grid cell **/
.green-cell .x-change-cell{
  background-color: #e2ffe2 !important;
}

.red-cell .x-change-cell{
  background-color: #ffe2e2 !important;
}

.grey-cell .x-change-cell{
  background-color: #cccccc !important;
}

.yellow-cell .x-change-cell {
  background-color: #ffff99 !important;  
}

.add {
  background-image:url('../icons/add.png') !important;
}

.delete {
  background-image:url('../icons/delete.png') !important;
}

.warning {
  background-image:url('../icons/danger.png') !important;
}

.accept {
  background-image:url('../icons/accept.png') !important;
}

.panel-background {
  background-image:url('../images/background.jpg') !important; 
  background-position: bottom right !important; 
  background-size: cover !important;
}